@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
	background-color: white;
	border: 1px black solid;
}

header {
	background-color: #FFED74;
	padding: 5px;
	border-top: .5px black solid;
	border-bottom: .5px black solid;
}
h1 {
	font-size: 35px;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	color: #CC0099;
	text-indent: 20px;
}
h2 {
	font-size: 15px;
	font-family: arial;
	font-weight: lighter;
	text-align: left;
	font-style: italic;
	text-indent: 20px;
}

nav {
	background-color: #E8C66A; 
	padding: 20px;
	font-family: 'Oswald', sans-serif;
	text-align: right;
	font-size: 14px;
}
nav a:hover {
	color: #00CC33;
}

#two_column {
    background-color: #FFB7CF;
    border-bottom: .5px black solid;
    padding: 15px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
    font-size: 12px;
	font-family: arial;
	color: white;
	margin: 5px;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 60%;
	font-size: 12px;
	font-family: arial;
	color: white;
	margin: 5px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#image_grid {
    background-color: #E89C6C;
    border-bottom: .5px black solid;
    padding: 15px;
}

footer {
	background-color: #FF957E;
	padding: 15px;
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	text-align: right;
}