@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
	background-color: white;
}
header {
	padding: 5px;
}
h1 {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	color: #CC0099;
  padding-left: 20px;
}
h2 {
	font-size: 15px;
	color: black;
  font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	text-align: left;
  padding-left: 20px;
  padding-top: 0px;
}
p { 
font-size: 13px;

 }

nav {
  padding: 3px;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
  text-align: center;
  display: block;
  word-spacing: 5px;
  background-color: black;
}
nav a:hover {
	color: #CC0099;
}
a:visited {
  color: white;
}
a:active {
  color: white;
}
li {
  display: inline;
  margin: 0;
}

#left {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
	  color: black;
    padding-left: 20px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#image_grid {
    padding-top: 0px;
    padding-left: 20px;
}

footer {
	padding: 20px;
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
  background-color: black;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: .9em;
  }
  p {
    font-size: .9em; 
  }
footer {
  font-size: .7em;
}
img {
  width: 100%;
  height: auto;
  float: none;
}
nav {
  line-height: 1.5em;
  display: block;
}
nav a:hover {
  color: #CC0099;
}
a:visited {
  color: white;
}
a:active {
  color: #CC0099;
}}
 
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: .9em;
  }
  p {
    font-size: .9em;
    width: 70%;
    text-align: left;
    margin-left: 5px;
  }
  footer {
  font-size: .6em;
}
nav {
  line-height: 1.5em;
}
li {
  display: block;
  text-align: left;
}
img {
  width: 70%;
  height: auto;
  float: none;
}
nav a:hover {
  color: #CC0099;
}
a:visited {
  color: white;
}
a:active {
  color: #CC0099;
}
}
